---
layout: default
---


<div class="heading" id="toc">
  <h2>Mục lục</h2>
</div>
<div class="section toc">
  <div class="col">
    <h4><a href="#html">HTML</a></h4>
    <ul>
      <li><a href="#html-syntax">Cú pháp</a></li>
      <li><a href="#html-doctype">HTML5 doctype</a></li>
      <li><a href="#html-lang">Ngôn ngữ thuộc tính (attribute)</a></li>
      <li><a href="#html-encoding">Ngôn ngữ mã hóa</a></li>
      <li><a href="#html-ie-compatibility-mode">Chế độ tương thích với Internet Explorer</a></li>
      <li><a href="#html-style-script">Chèn CSS và JavaScript</a></li>
      <li><a href="#html-practicality">Giảm thải code thừa</a></li>
      <li><a href="#html-attribute-order">Thứ tự của thuộc tính</a></li>
      <li><a href="#html-boolean-attributes">Thuộc tính đúng sai (Boolean)</a></li>
      <li><a href="#html-reducing-markup">Giảm tải đánh dấu</a></li>
      <li><a href="#html-javascript">Tạo code JavaScript</a></li>
    </ul>
  </div>
  <div class="col">
    <h4><a href="#css">CSS</a></h4>
    <ul>
      <li><a href="#css-syntax">Cú pháp CSS</a></li>
      <li><a href="#css-declaration-order">Thứ tự khai báo</a></li>
      <li><a href="#css-import">Không sử dụng @import</a></li>
      <li><a href="#css-media-queries">Vị trí đặt Media query</a></li>
      <li><a href="#css-prefixed-properties">Thuộc tính tiền tố</a></li>
      <li><a href="#css-single-declarations">Khai báo CSS đơn</a></li>
      <li><a href="#css-shorthand">Kí hiệu viết tắt</a></li>
      <li><a href="#css-nesting">Quy tắc xếp chồng trong Less và Sass</a></li>
      <li><a href="#css-operators">Các phép tính trong Less và Sass</a></li>
      <li><a href="#css-comments">Ghi chú</a></li>
      <li><a href="#css-classes">Tên class</a></li>
      <li><a href="#css-selectors">Bộ chọn (Selectors)</a></li>
      <li><a href="#css-organization">Cơ cấu tổ chức</a></li>
    </ul>
  </div>
</div>


<div class="section" id="golden-rule">
  <div class="col">
    <h2>Nguyên tắc vàng</h2>
    <p>Các thực thi dưới đây, hoặc là của bạn, các ý kiến đóng góp được chấp nhận vào bất kì lúc nào. Dù nhỏ hay lớn, hãy nhắn lại nếu có sai sót. Đối với các đóng góp cho Code Guide, xin hãy <a target="_blank" href="https://github.com/mdo/code-guide/issues/new"> tạo vấn đề (issue) trên GitHub</a>.</p>
  </div>
  <div class="col">
    <blockquote>
      <p>Mỗi dòng code nên được viết bởi duy nhất một người, không nên cộng tác.</p>
    </blockquote>
  </div>
</div>



<div class="heading" id="html">
  <h2>HTML</h2>
</div>

<div class="section" id="html-syntax">
  <div class="col">
    <h3>Cú pháp</h3>
    <ul>
      <li>Sử dụng tabs ngắn (soft tabs) với 2 khoảng trắng, điều này sẽ đảm bảo code sẽ giống nhau trong mọi môi trường</li>
      <li>Các phần tử lồng nhau nên thụt vào 1 tabs (2 khoảng trắng).</li>
      <li>Trên các thuộc tính (attributes), luôn sử dụng dấu ngoặc kép, không sử dụng dấu ngoặc đơn</li>
      <li>Không thêm dấu gạch chéo ở các thành phần tự đóng—<a target="_blank" href="http://dev.w3.org/html5/spec-author-view/syntax.html#syntax-start-tag">tài liệu mô tả HTML5</a> nói đó là thuộc tính không bắt buộc.</li>
      <li>Không bỏ qua các thẻ đóng (ví dụ: <code>&lt;/li&gt;</code> hoặc <code>&lt;/body&gt;</code>).</li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/syntax.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-doctype">
  <div class="col">
    <h3>HTML5 doctype</h3>
    <p>Bắt đầu với một môi trường tiêu chuẩn và phù hợp hơn bới mọi trình duyệt với một Doctype đơn giản tại vị trí đầu tiên của mỗi trang HTML.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/doctype.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-lang">
  <div class="col">
    <h3>Ngôn ngữ thuộc tính (attribute)</h3>
    <p>Từ tài liệu mô tả HTML5:</p>
    <blockquote>
      <p>Các tác giả được khuyến khích để chỉ định một thuộc tính ngôn ngữ ở thuộc tính html gốc, nó sẽ chỉ định được ngôn ngữ cho nội dung. Việc xác định ngôn ngữ này sẽ hỗ trợ được các công cụ giọng nói sẽ cần phát âm như thế nào, xác định được những quy tắc trong công cụ dịch thuật, v.v.</p>
    </blockquote>
    <p>Tìm hiểu nhiều hơn về thuộc tính <code>lang</code> ở <a target="_blank" href="http://www.w3.org/html/wg/drafts/html/master/semantics.html#the-html-element">tài liệu mô tả</a>.</p>
    <p>Tham khảo thêm về <a target="_blank" href="http://reference.sitepoint.com/html/lang-codes">danh sách kí hiệu ngôn ngữ HTML</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/lang.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-ie-compatibility-mode">
  <div class="col">
    <h3>Chế độ tương thích với Internet Explorer</h3>
    <p>Internet Explorer hỗ trợ việc tương thích với văn bản bằng thẻ <code>&lt;meta&gt;</code> để xác đinh phiên bản của IE sẽ được hiển thị. Trừ trường hợp không yêu cầu, nó sẽ rất hữu ích trong việc giúp IE có thể sử dụng bản hỗ trợ mới nhất với chế độ <strong>edge mode</strong>.</p>
    <p>Để biết rõ hơn, <a target="_blank" href="http://stackoverflow.com/questions/6771258/whats-the-difference-if-meta-http-equiv-x-ua-compatible-content-ie-edge-e">hãy đọc bài viết rất chi tiết ở Stack Overflow</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/ie-compatibility-mode.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-encoding">
  <div class="col">
    <h3>Ngôn ngữ mã hóa</h3>
    <p>Cách nhanh chóng và dễ dàng nhất để đảm bảo nội dung hiển thị chính xác đó chính là định nghĩa chính xác ngôn ngữ mã hóa. Khi làm như vậy, bạn có thể sử dụng được các kí tự trong HTML của bạn, nó sẽ cung cấp các kí tự mã hóa phù hợp với trang (thường dùng UTF-8).</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/encoding.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-style-script">
  <div class="col">
    <h3>Chèn CSS và JavaScript</h3>
    <p>Với HTML5, thường không cần phải khai báo kiểu (<code>type</code>) khi chèn file CSS và JavaScript như <code>text/css</code> và <code>text/javascript</code>, nó đã được xác dịnh mặc định.</p>
    <h4>Tài liệu HTML5 mô tả về Link</h4>
    <ul>
      <li><a target="_blank" href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-link-element" target="_blank">Sử dụng link</a></li>
      <li><a target="_blank" href="http://www.w3.org/TR/2011/WD-html5-20110525/semantics.html#the-style-element" target="_blank">Sử dụng style</a></li>
      <li><a target="_blank" href="http://www.w3.org/TR/2011/WD-html5-20110525/scripting-1.html#the-script-element" target="_blank">Sử dụng script</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight html %}{% include html/style-script.html %}{% endhighlight %}
  </div>
</div>
<div class="section" id="html-practicality">
  <div class="col">
    <h3>Giảm tải code thừa</h3>
    <p>Mỗi khi có thể, tránh thêm thẻ cha dư thừa khi viết HTML. Nó sẽ dẫn tới nhiều lần sửa lại mã HTML chỉ để giảm số lượng thẻ dư thừa.</p>
  </div>
</div>

<div class="section" id="html-attribute-order">
  <div class="col">
    <h3>Thứ tự thuộc tính</h3>
    <p>Thuộc tính của HTML nên được sắp xếp theo thứ tự để việc đọc code dễ dàng hơn.</p>
    <ul>
      <li><code>class</code></li>
      <li><code>id</code>, <code>name</code></li>
      <li><code>data-*</code></li>
      <li><code>src</code>, <code>for</code>, <code>type</code>, <code>href</code>, <code>value</code></li>
      <li><code>title</code>, <code>alt</code></li>
      <li><code>role</code>, <code>aria-*</code></li>
    </ul>
    <p>Các <code>class</code> được tái sử dụng rất nhiều vì vậy nó sẽ nằm đầu tiên. Các <code>id</code> cụ thể hơn và nên sử dụng hợp lí(ví dụ: để đánh dấu trong trang), nên sẽ nằm ở thứ hai.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/attribute-order.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-boolean-attributes">
  <div class="col">
    <h3>Thuộc tính đúng sai (Boolean)</h3>
    <p>Thuộc tính Boolean sẽ không cần khai báo giá trị. Với XMTML sẽ yêu cầu phải khai báo nhưng HTML thì không.</p>
    <p>Để tìm hiểu thêm, hãy tham khảo <a target="_blank" href="http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#boolean-attributes">WhatWG phần các thuộc tính Boolean</a>:</p>
    <blockquote>
      <p>Với sự xuất hiện thuộc tính boolean trên phần tử sẽ đại diện cho giá trị true và không xuất hiện đồng nghĩa với giá trị false</p>
    </blockquote>
    <p>Nếu bạn <em>phải</em> thêm giá giá trị của thuộc tính, và <strong>bạn không cần phải thêm giá trị vào nó</strong>, hãy theo hướng dẫn của WhatWG:</p>
    <blockquote>
      <p>Nếu đã tồn tại thuộc tính, giá trị của nó phải là chuỗi rỗng hoặc [...] tên của các giá trị, không sử kí tự xuống hàng hoặc khoảng trắng (ví dụ: <code>autofocus="autofocus</code>").</p>
    </blockquote>
    <p><strong>Viết tắt bằng cách không thêm giá trị</strong></p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/boolean-attributes.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-reducing-markup">
  <div class="col">
    <h3>Giảm tải đánh dấu</h3>
    <p>Bất cứ khi nào có thể, hãy hạn chế các phần tử cha thừa khi viết HMTL. Whenever possible, avoid superfluous parent elements when writing HTML. Many times this requires iteration and refactoring, but produces less HTML. Hãy tham khảo ví dụ sau đây:</p>
  </div>
  <div class="col">
    {% highlight html %}{% include html/reducing-markup.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="html-javascript">
  <div class="col">
    <h3>Khởi tạo đánh dấu JavaScript</h3>
    <p>Viết đánh dấu trong một file Javascript làm cho nội dung rất khó để tìm kiếm, khó để chỉnh sủa và hiệu năng thấp. Hãy tránh nó bất cứ khi nào có thể.</p>
  </div>
</div>



<div class="heading" id="css">
  <h2>CSS</h2>
</div>

<div class="section" id="css-syntax">
  <div class="col">
    <h3>Cú pháp</h3>
    <ul>
      <li>Sử dụng tabs ngắn (2 khoảng trắng) - đó là cách duy nhất để đảm bảo code được dịch giống nhau trong mọi môi trường.</li>
      <li>Khi nhóm các bộ chọn (selectors), hãy giữ mỗi bộ chọn nằm trên một dòng.</li>
      <li>Thêm một khoảng trắng trước một khối của thuộc tính để dễ đọc.</li>
      <li>Đặt dấu đóng ngoặc nhọn của một khối thuộc tính ở một dòng mới.</li>
      <li>Thêm một khoảng trắng phía sau dấu<code>:</code> của mỗi thuộc tính.</li>
      <li>Với mỗi định nghĩa chỉ nên nằm trên riêng một dòng sẽ cho báo lỗi được chính xác hơn.</li>
      <li>Luôn sử dụng dấu chấm phẩy để kết thúc tất các định nghĩa. Dấu chấm phẩy ở định nghĩa cuối cùng là không bắt buộc nhưng lỗi của bạn có thể xảy ra nhiều lỗi nếu không có nó.</li>
      <li>Thêm khoảng trắng phía sau dấu phẩy ở mỗi định nghĩa có nó (ví dụ <code>box-shadow</code>).</li>
      <li>Không thêm khoảng trắng vào phía sau dấu phẩy <em>trong giá trị của</em> <code>rgb()</code>, <code>rgba()</code>, <code>hsl()</code>, <code>hsla()</code>, hoặc <code>rect()</code>.Nó giúp phân biệt giữa các giá trị màu sắc (dấu phẩy, không khoảng trắng) và các giả trị thuộc tính (có dấu phẩy cùng khoảng cách).</li>
      <li>Không cần phải thêm tiền tố với các giá trị hoặc màu sắc bắt đầu bằng số 0 (ví dụ: <code>.5</code> thay vì <code>0.5</code> và <code>-.5px</code> thay vìo <code>-0.5px</code>).</li>
      <li>Sử dụng chữ thường cho giá trị Hex của màu sắc, ví dụ <code>#fff</code>. Chữ thường sẽ giúp việc dịch code được dễ dàng khi gặp những hình khối phức tạp.</li>
      <li>Sử dụng kiểu hiển thị giá trị màu sắc Hex theo kiểu rút ngọn nếu có thể, ví dụ <code>#fff</code> thay vì<code>#ffffff</code>.</li>
      <li>Sử dụng dấu ngoặc kép để khai báo thành phần giá trị trong bộ chọn, ví dụ <code>input[type="text"]</code>. <a target="_blank" href="http://mathiasbynens.be/notes/unquoted-attribute-values#css">Nó chỉ bắt buộc trong một số trường hợp nhất định</a>, nhưng sẽ mang tính nhất quán nếu sử dụng cho toàn bộ.</li>
      <li>Tránh thêm đơn vị cho giá trị bằng 0, ví dụ <code>margin: 0;</code> thay vì <code>margin: 0px;</code>.</li>
    </ul>
    <p>Nếu bạn có thắc mắc về các vấn đề trên? Hãy đọc <a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#Syntax">Cú pháp viết Cascading Style Sheets</a> trên Wikipedia.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/syntax.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-declaration-order">
  <div class="col">
    <h3>Thứ tự khai báo</h3>
    <p>Những thuộc tính có đặc tính giống nhau nên được sắp xếp theo thứ tự sau:</p>
    <ol>
      <li>Định vị trí (Positioning)</li>
      <li>Kiểu hình khối (Box model)</li>
      <li>Kiểu kí tự (Typographic)</li>
      <li>Hình ảnh (Visual)</li>
    </ol>
    <p>Định vị trí đầu tiên vì nó có thể loại bỏ phần tử trong một layout bình thường. Kiểu hình khối được định nghĩa tiếp theo để có thể xác định được khích thước của mỗi thành phần.</p>
    <p>Các thành phần còn lại hãy đặt theo từng thành phần tương ứng những phần mà không ảnh hưởng đến giá trị đã đặt trước đó sẽ đặt ở cuối cùng.</p>
    <p>Cho việc hoàn thành danh sách các thuộc tính theo thứ tự, xin hãy tìm hiểu thêm tại <a target="_blank" href="http://twitter.github.com/recess">Recess</a>.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/declaration-order.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-import">
  <div class="col">
    <h3>Không sử dụng <code>@import</code></h3>
    <p>So với các <code>&lt;link&gt;</code>, <code>@import</code> sẽ chậm hơn, nó sẽ cần nhiều yêu cầu từ trang hơn và không dự tính được hết các lỗi có thể xảy ra. Hãy dùng một số cách thay thế sau thay vì sử dụng <code>@import</code>:</p>
    <ul>
      <li>Sử dụng nhiều <code>&lt;link&gt;</code></li>
      <li>Sử dụng các trình phiên dịch như SASS & LESS để phiên dịch CSS vào trong một file duy nhất</li>
      <li>Kết nối các files CSS của bạn bằng các tính năng được môi trường cung cấp sẵn nhu Rail, Jekyll và các môi trường khác</li>
    </ul>
    <p>Để thông tin chi tiết hơn, xin học <a target="_blank" href="http://www.stevesouders.com/blog/2009/04/09/dont-use-import/">bài viết của Steve Souders</a>.</p>
  </div>
  <div class="col">
    {% highlight html %}{% include css/import.html %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-media-queries">
  <div class="col">
    <h3>Vị trí đặt Media query</h3>
    <p>Hãy đặt Media query gần với bộ chọn có liên quan khi có thể. Đừng gom tất cả các quy tắc trong một khu vực riêng biệt như phần cuối trang. Làm như vậy sẽ giúp cho nhớ lại những truy vấn dễ dàng hơn trong tương lai. Đây là một ví dụ.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/media-queries.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-prefixed-properties">
  <div class="col">
    <h3>Thuộc tính tiền tố</h3>
    <p>Khi sử dụng các thuộc tính tiền tố (Prefixed properties), hãy thụt đầu dòng vào dể các giá trị có thể thẳng hàng với nhau giúp dễ dàng để thay đổi giá trị.</p>
    <p>Trong Textmate, chọn <strong>Text &rarr; Edit Each Line in Selection</strong> (&#8963;&#8984;A). Trong Sublime Text 2, chọn <strong>Selection &rarr; Add Previous Line</strong> (&#8963;&#8679;&uarr;) và <strong>Selection &rarr;  Add Next Line</strong> (&#8963;&#8679;&darr;).</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/prefixed-properties.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-single-declarations">
  <div class="col">
    <h3>Khai báo CSS đơn</h3>
    <p>Trong trường hợp <strong>chỉ có 1 định nghĩa CSS</strong>, hãy loại bỏ những ngắt dòng để có thể dễ chỉnh sửa hơn. Bất kì CSS nào sử dụng nhiều định nghĩa đều phải cho xuông dòng.</p>
    <p>Đây là một trong yếu tố quan trọng để phát hiện ra lỗi—ví dụ một CSS đang có báo lỗi ở Line 183. Với định nghĩa nằm ở 1 dòng, bạn sẽ không bị mất nó. Với nhiều định nghĩa nằm riêng biệt trên mỗi dòng bạn sẽ dễ dàng phân biệt được.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/single-declarations.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-shorthand">
  <div class="col">
    <h3>Kí hiệu viết tắt</h3>
    <p>Hãy hạn chế các kí hiệu viết tắt, thay vào đó hãy định nghĩa rõ ràng các giá trị. Các thuộc tính viết tắt thường được sử dụng nhiều bao gồm:</p>
    <ul>
      <li><code>padding</code></li>
      <li><code>margin</code></li>
      <li><code>font</code></li>
      <li><code>background</code></li>
      <li><code>border</code></li>
      <li><code>border-radius</code></li>
    </ul>
    <p>Thông thường bạn không cần phải điền hết các thuộc tính của định nghĩa viết tắt. Ví dụ : HTML heading chỉ cần setting cho top và bottom margin, đến lúc cần, chỉ cần viết lại 2 thuộc tính đó. Sử dụng đinh nghĩa viết tắt quá nhiều sẽ dẫn dến các định nghĩa bị lặp lại quá nhiều và xảy ra lỗi ngoài ý muốn.</p>
    <p>Tài liệu Mozilla Developer Network có một bài viết hay về <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/CSS/Shorthand_properties">shorthand properties</a> cho người không quen với việc viết tắt này.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/shorthand.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-nesting">
  <div class="col">
    <h3>Quy tắc xếp chồng trong Less và Sass</h3>
    <p>Hạn chế phần xếp chồng không cần thiết. Bạn có thể xếp chồng các bộ chọn, không có nghĩa là bạn luôn xếp chồng mọi thứ lại với nhau. Hãy xem xét phạm vi yếu tố có thể tác động tới phần cha, và các yếu tố được lồng nhau.</p>
    <p>Đọc thêm:</p>
    <ul>
      <li><a target="_blank" href="http://markdotto.com/2015/07/20/css-nesting/">Nesting in Sass and Less</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/nesting.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-operators">
  <div class="col">
    <h3>Các phép tính trong Less và Sass</h3>
    <p>Để giúp dễ đọc hơn, hãy đặt các phép tính nằm ở trong ngặc đơn và thêm khoảng trắng còa giữa các giá trị, biến và các phép tính.</p>
  </div>
  <div class="col">
    {% highlight scss %}{% include css/operators.scss %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-comments">
  <div class="col">
    <h3>Ghi chú (Comments)</h3>
    <p>Code được viết và duy trì giữa nhiều người. Vì vậy hãy đảm bảo rằng các mô tả, ghi chú của bạn người khác cũng có thể đọc được. Một ghi chú code tốt là một ghi chú có bối cảnh và mục đích. Không nên ghi chú đơn giản bằng một phần đại diện hoặc tên lớp.</p>
    <p>Hãy đảm bảo rằng các ghi chú là một câu cú hoàn chỉnh, cũng như sử dụng các cụm từ ngắn gọn dễ hiểu cho các ghi chú chung.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-classes">
  <div class="col">
    <h3>Tên Class</h3>
    <ul>
      <li>Sử dụng chữ viết thường và dấu gạch ngắn (không sử dụng dấu gạch dài và chữ hoa).Dấu gạch ngang chỉ sử dụng dùng dể nối từ hoặc các chức năng có liên quan (ví dụ <code>.btn</code> và <code>.btn-danger</code>).</li>
      <li>Tránh tự ý viết tắt tùy tiện và quá nhiều. <code>.btn</code> sẽ tôt cho <em>button</em>, tuy nhiên <code>.s</code> thì không có nghĩa.</li>
      <li>Cố gắng để tên Class ngắn gọn.</li>
      <li>Sử dụng tên có nghĩa, có mục đích.</li>
      <li>Sử dụng tiền tố dựa trên lớp cha gần nhất.</li>
      <li>Sử dụng classes <code>.js-*</code> để phân biệt (không sử dụng style), để giúp cho các class này không sử dụng trong file CSS.</li>
    </ul>
    <p>Các quy tắc trên cũng rất hữu dụng với các tên biến khi bạn sử dụng SASS và LESS.</p>
  </div>
  <div class="col">
    {% highlight css %}{% include css/class-names.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-selectors">
  <div class="col">
    <h3>Bộ chọn</h3>
    <ul>
      <li>Sử dụng Class cho những tag để tối ưu hiệu suất dịch code.</li>
      <li>Hạn chế chọn phần tử kiểu chọn theo thuộc tính (attribute) (ví dụ <code>[class^="..."]</code>) . Hiệu suất trình duyệt sẽ bị ảnh hưởng.</li>
      <li>Giữ cho tên Class ngắn và gọi phần cha ít. Cố gắng gọi tối đa 3 Class.</li>
      <li>Gọi tên class cha <strong>chỉ khi</strong> nào cần thiết (ví dụ khi không cần tạo css tùy chỉnh).</li>
    </ul>
    <p>Đọc thêm:</p>
    <ul>
      <li><a target="_blank" href="http://markdotto.com/2012/02/16/scope-css-classes-with-prefixes/">Scope CSS classes with prefixes</a></li>
      <li><a target="_blank" href="http://markdotto.com/2012/03/02/stop-the-cascade/">Stop the cascade</a></li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/selectors.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-organization">
  <div class="col">
    <h3>Cơ cấu tổ chức</h3>
    <ul>
      <li>Phân vùng code thành các phần riêng biệt.</li>
      <li>Xây dựng cấu trúc chú thích hợp lý và thống nhất</li>
      <li>Sử dụng nhiều khoảng trống lớn để phân cách cho những phần code lớn để có thể dễ dàng tìm kiếm khi làm việc với một file lớn.</li>
      <li>Khi sử dụng nhiều file CSS, hãy phân vùng chúng theo từng thành phần thay vì phân theo các trang. Vì các trang có thể thay đổi thành phần và các thành phần cũng có thể di chuyển theo yêu cầu.</li>
    </ul>
  </div>
  <div class="col">
    {% highlight css %}{% include css/organization-comments.css %}{% endhighlight %}
  </div>
</div>

<div class="section" id="css-editor-prefs">
  <div class="col">
    <h3>Tùy chọn cho chương trình viết code</h3>
    <p>Điều chỉnh chương trình viết code của bạn theo các thông số dưới đây để tránh xảy ra lỗi với code:</p>
    <ul>
      <li>Sử dụng tab ngắn (soft-tabs) là 2 khoảng trắng.</li>
      <li>Tự động xóa khoảng trắng thừa khi save.</li>
      <li>Đặt mã kí tự là UTF-8.</li>
      <li>Thêm một dòng mới vào cuối file.</li>
    </ul>
    <p>Hãy tham khảo và áp dụng những chỉnh sửa trên vào project của bạn bằng file <code>.editorconfig</code>. Ví dụ, hãy tham khảo file trên  <a target="_blank" href="https://github.com/twbs/bootstrap/blob/master/.editorconfig">Bootstrap</a>. Tìm hiểu thêm về <a target="_blank" href="http://editorconfig.org">EditorConfig</a>.</p>
  </div>
</div>